:root {
    --color-player-none: lightgray;
    --color-player-left: lightcoral;
    --color-player-right: lightblue;
}

body {
    margin: 0;
}

#game {
    height: 100vh;
    display: grid;
    grid:
        "options options options" 2rem
        "player-left gameboard player-right" 1fr
        "info info info" 2rem
        / 10rem 1fr 10rem;
}

#game .options {
    grid-area: options;
    background-color: grey;
}

#game .info {
    grid-area: info;
    background-color: grey;
}

#game div {
    display: grid;
    place-content: center;
}

#game div[class^='player'] {
    border: 2px solid black;
}

#game div[class='player-left'] {
    background-color: var(--color-player-left);
    grid-area: player-left;
}

#game div[class='player-right'] {
    background-color: var(--color-player-right);
    grid-area: player-right;
}

#game .gameboard {
    border: 2px solid black;
    grid-area: gameboard;
    grid: 
        1fr
        1fr
        1fr
        / 1fr 1fr 1fr;
}

.gameboard button {
    font-size: 3rem;
}

.gameboard button[data-mark=' '] {
    background-color: var(--color-player-none);
}

.gameboard button[data-mark='O'] {
    background-color: var(--color-player-left);
}

.gameboard button[data-mark='X'] {
    background-color: var(--color-player-right);
}